.account{
    width:900px;
    background-color: #fbfafd;
    margin:10px auto;
  }
  .title{
    text-align: center;
    padding:20px 0;
    margin:0;
  }
  .info div{
    margin:10px 0 10px 40px;
  }
  .change{
    margin-bottom:20px;
  }
  form{
    margin:0;
    padding:0 0 20px 0;
  }
  .exit{
    margin:80px 0 0 75%;
  }
  .cancel{
    margin-left:10px;
  }
.user-options {
  display: flex;
  justify-content:space-between;
  width: 900px;
  margin: 0 auto;
}
.user-content-form {
  height: 166.5px;
}
.file__container {
  color:rgba(0,0,0,0.8);
}
.uploaded-files-container {
  width: 900px;
  background-color: #fbfafd;
  margin: 10px auto;
  padding: 10px 20px;
}
.uploaded-files-title {
  margin-bottom:10px;
}